html,
body {
  height: 100% !important; 
}
body{
    display: -ms-flexbox;
    /* display: flex; */
    /* -ms-flex-align: center; */
    /* align-items: center; */
    padding-top: 40px;
    background-color: #f5f5f5;

}

/* .form-signin {
    width: 100%;
  max-width: 330px !important;
  padding: 15px;
  margin: auto;
  align-items: center;
  text-align: center;
} */

.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    width: 100%;
    max-width: 330px !important;
    padding: 15px;
    margin: auto;
    align-items: center;
    text-align: center;
}

.form-signin .checkbox{
  font-weight: 400;
}

.form-signin .form-control{
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-floating:focus-within  .form-control{
  z-index: 2 !important;
}

.top{
  margin-bottom: -1px !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.middle{
  border-radius: 0%;
  margin-bottom: -1px !important;
}

.bottom {
  margin-bottom: 10px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
